@charset "utf-8";

/* 전체 공통
--------------------------------------------- */
* {
    font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
}

.a {
    color: #222;
    text-decoration: none;
}

.hr {
    display: none;
}

/* header bar
--------------------------------------------- */
.header {
    background: url(../img/bg_header.gif) repeat-x;
    height: 49px;
    border-bottom: 1px solid #000;
}

/* header bar > logo
--------------------------------------------- */
.headerH1 {
    width: 71px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 13px;
}

/* header bar > Home bt
--------------------------------------------- */
.headerSpan {
    display: block;
    width: 48px;
    height: 26px;
    position: absolute;
    right: 10px;
    top: 12px;
}

.headerIndexSpan {
    display: none;
}