/* content
--------------------------------------------- */
.content {
    background: url(../img/bg_body.gif) repeat-x;
}

/* content > subtitle
--------------------------------------------- */
.contentH2 {
    width: auto;
    height: 270px;
    background: url(../img/bg_visual.jpg) center top no-repeat;
    text-indent: -10000px;
}

/* content > btmenu box
--------------------------------------------- */
.contentUl {
    text-align: center;
}

/* content > btmenu box > 개별항목
--------------------------------------------- */
.contentLi {
    display: inline-block;
    padding: 20px 2px 0px 2px;
}

/* content > btmenu box > 개별항목 > link
--------------------------------------------- */
.contentLink {
    display: block;
    width: 65px;
    height: 90px;
    margin: auto;
    text-indent: -10000px;
    overflow: hidden;
    background: url(../img/lnb.png) no-repeat;
    cursor: pointer;
}

/* content > btmenu box > 개별항목 > 개별 링크의 배경 이미지 좌표
--------------------------------------------- */
.contentLink1 {
    background-position: 0px 0;
}

.contentLink2 {
    background-position: -66px 0;
}

.contentLink3 {
    background-position: -136px 0;
}

.contentLink4 {
    background-position: -206px 0;
}