/* content
--------------------------------------- */
.content {
    width: 300px;
    margin: auto;
    font-size: 0.8em;
    line-height: 150%;
}

/* content >  소제목
--------------------------------------- */
.contentH2 {
    height: 90px;
    background: url(../img/top_ca1.jpg) no-repeat;
    margin-top: 15px;
    text-indent: -10000px;
}

/* content 갤러리
--------------------------------------- */
.contentLi {
    width: 33.3%;
    float: left;
}

.contentUl::after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.contentLink {
    display: block;
    width: auto;
    padding: 5px;
}

.contentImg {
    width: 100%;
}