/* tab > bt set
-------------------------------------- */
.tabUl {
    width: auto;
    height: 40px;
    padding: 0 20px;
    background: url(../img/bg_tab.gif) repeat-x;
    font-weight: bold;
}

/* tab > bt set > 개별항목
-------------------------------------- */
.tabLi {
    width: 50%;
    height: 40px;
    text-align: center;
    color: #000;
    float: left;
    font-weight: bold;
}

/* tab > float 해제
-------------------------------------- */
.tabUl::after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

/* tab > bt set > 개별항목 > link
-------------------------------------- */
.tabLink {
    display: block;
    width: auto;
    height: 23px;
    padding-top: 17px;
    color: #fff;
}